

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-toolbar {
    min-height: 85px;
}

.mat-toolbar.mat-primary {
    background: #006AA7;
    color: #fff;
}

mat-toolbar .app-title {
    display: flex;
    flex-flow: column;
}

mat-toolbar .app-title .title {
    text-decoration: none;
    color: #fff;
}

mat-sidenav-container {
    min-height: 300px;
}

.breadcrumb {
    padding: 10px;
    background-color: #0EA6E7;
    color: #fff;
}

.breadcrumb a {
    color: #fff;
}

.page-content {
    padding: 16px;
    width: 95%;
}

mat-row,
tr {
    display: table-row;
    width: 100%;
}

mat-cell,
mat-header-cell {
    width: 100%;
    flex: 1;
    text-align: left;
    /* Ajuste conforme necessário */
}

.full-width-table {
    width: 100%;
    table-layout: fixed;
}

mat-table {
    width: 100%;
}

mat-row {
    display: flex;
    width: 100%;
}

mat-cell {
    flex: 1;
    width: 100%;
}

/* You can add global styles to this file, and also import other style files */
/*

.mat-list-item {
    color: #006AA7;
    margin-left: 5px;
}



.active-menu-item {
    border-left: 5px solid #006AA7;
    background-color: #f4f4f4;
}



.primary{
    background-color: #006AA7!important;
}
*/