form{
    display: block;
}

form mat-form-field{
    width: 800px;
    margin: 15px 0px 15px 0px;
}

.page-control{
    margin: 10px 0px 10px 0px;
}

.page-control button{
    margin: 0px 10px 0px 10px;
}

.title{
    margin: 10px 0px 10px 0px; 
}